body {
	background-color: #ddd;
}

#container {
	margin: 5px 1% 0;
	width: 98%;
	text-shadow: 0 1px 1px white;
}

header {
	width: 100%;
	padding: 0 0 5px;
	border-bottom: 1px solid #ccc;
}
header h1 {
	text-align: center;
	font-size: 18px;
}
header h1 span {
	text-transform: uppercase;
	color: royalblue;
	font-size: 20px;
}

#login {
	margin: 10px auto;
}

.info {
	margin: 10px auto;
	width: 300px;
	background-color: #CCC;
	border: 1px solid #BBB;
}
.info p {
	font-size: 12px;
	text-align: center;
	padding: 20px;
}

.field {
	width: 300px;
	margin: 5px auto;
	overflow: auto;
}
label {
	width: 72px;
	text-align: left;
	display: block;
	float: left;
	padding: 10px 20px 1px 0;
	border-bottom: 1px solid #CCC;
}
input,
.button {
	color: #CCC;
	width: 200px;
	height: 20px;
	font-size: 14px;
	padding: 3px;
	border: 1px solid #CCC;
	margin: 5px auto;
	display: block;
	background-color: #EEE;
	float: left;
}
input {
	color: #333;
}
#login input {
	width: 100px;
	float: none;
}
.button {
	text-align: center;
	background-color: #333;
	color: #999;
	cursor: pointer;
	text-shadow: 0 1px 1px black;
	height: 18px;
	border-radius: 40px;
	border: none;
	width: 100px;
	float: none;
}

#new {
	overflow: auto;
	opacity: 0;
	display: none;
}
.bvalidator_errmsg {
	text-shadow: none;
}




















